.header{
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    &__menutab{
        @include breakpoint-down($md) {
            width: 40px;
            height: 40px;
            display: block;
            position: fixed;
            left: 16px;
            top: 16px;
            &.actived{
                span{
                    opacity: 0;
                }
                &:before{
                    @include transform(rotate(38deg));
                    top: 9px;
                }
                &::after{
                    @include transform(rotate(-38deg));
                    bottom: 9px;
                }
            }
            span,
            &:before,
            &:after{
                content: '';
                width: 100%;
                display: block;
                height: 2px;
                background: $black;
                border-radius: 5px;
                position: relative;
                @include transition_default(0.5s);
            }
            span{
                margin: 7.5px 0;
            }
        }
    }
    &__search{
        @include breakpoint-down($md) {
            position: fixed;
            top: 16px;
            right: 16px;
        }
        @include breakpoint-up($lg) {
            display: none;
        }
    }
    &__logo{
        @include breakpoint-down($md) {
            img{
                max-width: 80px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    &__menu{
        @include breakpoint-down($md) {
            &round{
                @include transition_default(0.3s);
                overflow: hidden;
                position: fixed;
                left: -100%;
                height: calc(100% - 82.5px);
                top: 82.5px;
                width: 100%;
                background:rgba(0, 0, 0, 0.5);
                &.actived{
                    left: 0;
                    overflow: auto;
                }
            }
            width: 70%;
            background: $black;
            position: absolute;
            height: 100%;
            .menu-item{
                border-bottom: 1px solid $black_light;
                a{
                    text-transform: uppercase;
                    color: #fff;
                    padding: 16px 16px;
                    display: block;

                }
                .sub-menu{
                    padding-left: 32px;
                    height: 0;
                    overflow: hidden;
                }
            }
            .menu-item-has-children{
                background-image: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAACnRSTlMAu8zumYh3RDMi3IjsLwAAACpJREFUCNdjwA2YHOBMLgHSmYWCglKGgoKSQGbWKjBYgaSAIiZTAAMxAACRfgfaW2UF8AAAAABJRU5ErkJggg==);
                background-position: right 8px top 12px;
                background-repeat: no-repeat;
                &.actived{
                    background-image: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAG1BMVEUAAAD////////////////////////////////rTT7CAAAACHRSTlMAc1qPppx4PzlNTUsAAABLSURBVAjXYyAXsCaASLYAIOHRBGJqtAAJiw4FBgamjmYgk7GjCSjYIQCSk+hQYOpoBDJAwu0VIEGIMEgQKgwShAo3wm1hNmAgHwAAE+ANa4FC/YkAAAAASUVORK5CYII=);
                    > .sub-menu{
                        overflow: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}