.main-slider {
  &__wrapper {
    .owl-dots {
      padding-top: 30px;
      width: 200px;
      margin: 0 auto;
      @include breakpoint-up(large) {
        padding-top: 46px;
      }
      button {
        &.active {
          outline: none;
        }

        &:focus {
          outline: none;
        }
      }

      .owl-dot {
        display: inline-block;
        span {
          margin: 5px 4px;
          background-color: #f2f2f2;
          @include breakpoint-up(large) {
            margin: 5px 5px;
          }
        }

        &.active {
          span {
            background-color: #ebc663;
            outline: none;
          }
        }

        &:hover {
          span {
            background-color: #ebc663;
          }
        }
      }
    }
  }

  &__item {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 420px;

    @include breakpoint-up(large) {
      max-width: 1722px;
    }
  }

  &__item__img-wrapper {
    display: block;
    position: relative;

    img {
      display: block;
    }
  }

  &__item__info {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background-color: #c68e50;

    @include breakpoint-up(large) {
      height: 100%;
      width: 500px;
      margin: auto 88px;
      @include flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      background-color: transparent;
    }
  }

  &__item__heading {
    display: none;

    @include breakpoint-up(large) {
      display: inline;
      line-height: 42px;
    }
  }

  &__item__title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 67px;
    color: #fff;
    text-align: center;

    @include breakpoint-up(large) {
      display: block;
      font-weight: 700;
      font-size: 2.4rem;
      color: #333333;
    }
  }

  &__item__desc {
    display: none;

    @include breakpoint-up(large) {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      color: #333333;
      text-align: center;
      margin-bottom: 26px;
    }
  }

  &__item__book-now {
    display: none;

    @include breakpoint-up(large) {
      display: inline;
      height: 51px;
      width: 192px;
      border-radius: 50px;
      background-color: #fff;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 51px;
      text-align: center;
      color: #333333;
      letter-spacing: 0.24rem;
      text-transform: uppercase;
    }
  }
}

.welcome {
  margin-top: 65px;

  &__wrapper {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
  }

  &__title {
    position: relative;
    padding-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 11px;
      width: 100%;
      height: 23px;
      background-image: url("../images/wIcon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint-up(large) {
        bottom: -4px;
      }
    }
  }

  &__desc {
    font-size: 1.2rem;
    text-align: center;
    max-width: 363px;
    margin-top: 10px;
    @include breakpoint-up(large) {
      max-width: 1288px;
      font-size: 1.6rem;
      line-height: 3rem;
      margin-top: 53px;
    }
  }

  &__slider-showcase-wrapper {
    @include breakpoint-up(large) {
      width: 100%;
      @include flex;
      @include justify-content(space-between);
      @include flex-wrap;
      margin-top: 56px;
    }
  }

  &__slider {
    margin-top: 18px;
    @include breakpoint-up(large) {
      margin-top: 0;
    }
    .owl-dots {
      padding-top: 13px;
      width: 200px;
      margin: 0 auto;
      @include breakpoint-up(large) {
        padding-top: 46px;
      }
      button {
        &.active {
          outline: none;
        }

        &:focus {
          outline: none;
        }
      }

      .owl-dot {
        display: inline-block;
        span {
          margin: 5px 4px;
          background-color: #f2f2f2;
          @include breakpoint-up(large) {
            margin: 5px 5px;
          }
        }

        &.active {
          span {
            background-color: #ebc663;
            outline: none;
          }
        }

        &:hover {
          span {
            background-color: #ebc663;
          }
        }
      }
    }
  }

  &__item {
    @include flex;
  }

  &__item__wrapper {
    position: relative;
    width: 370px;
    margin: 0 auto;
    @include breakpoint-up(large) {
      width: 866px;
    }
  }

  &__item__img {
    display: block;
  }

  &__item__desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: rgba($color: #c1c2c5, $alpha: 0.97);
    text-align: center;
    line-height: 46px;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.3rem;
  }

  &__showcase {
    margin-top: 35px;
    @include flex;
    @include flex-direction(column);
    @include breakpoint-up(large) {
      margin-top: 0;
      @include justify-content(space-between);
    }
  }

  &__showcase__item {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333333;
    @include flex;
    @include align-items(center);
    margin-bottom: 14px;
    @include breakpoint-up(large) {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  &__showcase__item-header {
    font-family: Philosopher;
    font-weight: 700;
    font-size: 3.4rem;
    color: #333333;
    line-height: 48px;
    height: 48px;
    background-color: #f2f2f2;
    display: block;
    padding: 0 20px;
    margin-right: 14px;
    position: relative;
    @include breakpoint-up(large) {
      font-size: 6rem;
      height: 84px;
      line-height: 84px;
      padding: 0 35px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -6px;
      width: 13.5px;
      height: 0.5px;
      background-color: #929292;
    }
  }
}

.our-services {
  margin-top: 54px;
  @include breakpoint-up(large) {
    margin-top: 210px;
  }
  &__title {
    text-align: center;
    position: relative;
    padding-bottom: 40px;

    @include breakpoint-up(large) {
      padding-bottom: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 11px;
      width: 120px;
      height: 23px;
      background-image: url("../images/wIcon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint-up(large) {
        bottom: 22px;
        width: 190px;
      }
    }
  }

  &__wrapper {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    margin-top: 20px;

    @include breakpoint-up(large) {
      @include flex-direction(row);
      @include justify-content(space-between);
    }
  }

  &__block {
    @include flex;
    @include justify-content(center);
    @include flex-wrap;
    margin-left: 2px;
    margin-right: 2px;
    width: 343px;
    @include breakpoint-up(large) {
      margin-left: 1px;
      margin-right: 1px;
      width: 518px;
    }
  }

  &__item {
    width: calc(50% - 4px);
    flex-basis: calc(50% - 4px);
    @include breakpoint-up(large) {
      width: calc(257px - 2px);
      flex-basis: calc(257px - 2px);
      height: 281px;
      background-color: #fff;
      border: 2px solid #f2f2f2;
      margin-bottom: 0;
    }

    @include flex;
    @include align-items(center);
    @include justify-content(center);
    margin-bottom: 8px;
    position: relative;

    &:hover {
      .our-services__item__img-holder {
        background-color: #ecc972;
      }
    }
  }

  &__item__img-holder {
    width: 160px;
    height: 160px;
    background-color: #f7f7f7;
    @include flex;
    @include transition(0.3s);

    @include breakpoint-up(large) {
      background-color: #f2f2f2;
      border-radius: 50%;
      width: 124px;
      height: 124px;
      position: relative;
      top: -13px;
    }
  }

  &__item__img {
    display: block;
    margin: auto auto;
    width: 110px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -20px;

    @include breakpoint-up(large) {
      width: 124px;
      height: 124px;
      top: 0;
    }
  }

  &__item__title {
    position: absolute;
    bottom: 22px;
    font-family: Philosopher;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
    width: 120px;

    @include breakpoint-up(large) {
      font-size: 2rem;
      line-height: 2.6rem;
      width: 195px;
    }
  }

  &__middle-block {
    display: none;

    @include breakpoint-up(large) {
      display: block;
    }
    // width: 446px;
  }

  &__middle-block__img {
    display: block;
  }
}

.enjoy-difference {
  margin-top: 112px;
  &__title {
    text-align: center;
    position: relative;
    padding-bottom: 40px;

    @include breakpoint-up(large) {
      padding-bottom: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 11px;
      width: 120px;
      height: 23px;
      background-image: url("../images/wIcon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint-up(large) {
        bottom: 22px;
        width: 190px;
      }
    }
  }

  &__slider {
    margin-top: 44px;
    @include breakpoint-up(large) {
      margin: 90px auto 0 auto;
      max-width: 1544px;
      @include flex;
      @include justify-content(space-between);
    }
    .owl-dots {
      padding-top: 20px;
      width: 200px;
      margin: 0 auto;
      @include breakpoint-up(large) {
        padding-top: 114px;
      }
      button {
        &.active {
          outline: none;
        }

        &:focus {
          outline: none;
        }
      }

      .owl-dot {
        display: inline-block;
        span {
          margin: 5px 4px;
          background-color: #f2f2f2;
          @include breakpoint-up(large) {
            margin: 5px 5px;
          }
        }

        &.active {
          span {
            background-color: #ebc663;
            outline: none;
          }
        }

        &:hover {
          span {
            background-color: #ebc663;
          }
        }
      }
    }
  }

  &__item {
    @include flex;
  }

  &__item__link {
    width: 312px;
    margin: 0 14px;
    @include breakpoint-up(large) {
      width: 492px;
      margin: 0 auto;
    }
  }

  &__item__img {
    display: block;
  }
}

.ambassador {
  margin-top: 120px;
  &__slider {
  }

  &__item {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
  }

  &__item__img-holder {
  }

  &__item__img {
  }

  &__item__info {
    &__quote {
      margin-top: 124px;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      color: #444444;
      width: 348px;
      text-align: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -92px;
        left: 50%;
        transform: translateX(-50%);
        width: 74px;
        height: 54px;
        background-image: url("../images/quote.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__name {
      margin-top: 40px;
      text-align: center;
      font-size: 1.6rem;
      color: #333333;
      letter-spacing: 0;
    }

    &__title {
      margin-top: 13px;
      font-family: Philosopher;
      font-weight: 700;
      font-size: 1.6rem;
      color: #666666;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
}
