*{
	padding: 0;
	margin: 0;
}
html,
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 62.5%;
	line-height: 1.2;
	color: #666666;
	overflow-x: hidden;
}
body * {
	color: #666666;
}
a{
	outline: none;
	text-decoration: none;
}
h1,.h1{
	font-size: 3.4rem;
	@media only screen and (min-width: $sm) {
		font-size: 4.5rem;
	}
	@media only screen and (min-width: $md) {
		font-size: 5.5rem;
	}
}
h2,.h2{
	font-size: 2rem;
	@media only screen and (min-width: $sm) {
		font-size: 3rem;
	}
	@media only screen and (min-width: $md) {
		font-size: 4rem;
	}
}
h3,.h3{
	font-size: 1.5rem;
	@media only screen and (min-width: $sm) {
		font-size: 2.5rem;
	}
	@media only screen and (min-width: $md) {
		font-size: 3.5rem;
	}
}
.container {
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
	width: 100% !important;
	position: relative;
	@media only screen and (min-width: 1200px) {
		max-width: 1372px !important;
	}
	ol {
		padding-left: 18px;
	}

	a {
		color: inherit;
	}
}

img {
	max-width: 100%;
	height: auto;
}
.hidden-xs{
	display: block !important;
	@media screen and (max-width: 767px) {
		display: none !important;
	}
}
.visible-xs{
	display: none !important;
	@media screen and (max-width: 767px) {
		display: block !important;
	}
}
.re_eff{
	opacity: 0;
}
.eff_actived{
	opacity: 1 !important;
}
::placeholder {
	color: #D5D7DE;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #D5D7DE;
}

::-ms-input-placeholder {
	color: #D5D7DE;
}
.kpopup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -9999999;
	opacity: 0;
	overflow: auto;
	&__bg{
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		z-index: 1;
	}
	&__thanks{
		font-size: 18px;
		padding: 32px;
		text-align: center;
		line-height: 1.5;
		&.none{
			display: none;
		}
		@media screen and (max-width: 991px) {
			font-size: 14px;
		}
	}
	&.animate__fadeIn{
		z-index: 999999;
		opacity: 1;
	}
	&__buttonclose{
		width: 40px;
		height: 40px;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -20px;
		right: -20px;
		background-color:  #fff;
		background-repeat: no-repeat;
		background-position: top 13px left 12px;
		border: 1px solid #172345;
		cursor: pointer;
		@media screen and (max-width: 767px) {
			top: -16px;
			right: -16px;
		}
	}
	&__round{
		position: absolute;
		background: #fff;
		display: block;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		box-sizing: border-box;
		width: 90%;
		max-width: 480px;
		z-index: 2;
		&__content{
			padding: 32px 32px;
		}
		&__input{
			@include flex;
			@include flex-wrap;
			@include flex-direction(column);
			label{
				color: #EA97B9;
				text-transform: uppercase;
			}
			input{
				border: 0;
				border-bottom: 1px solid #EA97B9;
				font-size: 14px;
				line-height: 1.5;
				margin: 12px 0;
				padding: 5px 0;
				outline: none !important;
				&.required{
					border-color: red;
				}
				&:disabled{
					background: #fff;
				}
			}
			textarea{
				background: #F7F7F7;
				border: 0;
				padding: 16px 24px;
				min-height: 100px;
				margin: 16px 0;
				outline: none !important;
			}
		}
		&__button{
			background: url('../images/arrow-target-right-white.png') no-repeat #E82A77 left 16px center;
			color: #fff;
			display: block;
			border: 0;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			box-sizing: border-box;
			height: 50px;
			@include transition_default(0.5s);
			cursor: pointer;
			&:hover{
				opacity: 0.5;
			}
		}
	}
	&__title{
		background: #F7F7F7;
		text-transform: uppercase;
		color: #172345;
		text-align: center;
		font-size: 24px;
		line-height: 1;
		padding: 16px 16px;
	}
}
.wp-paginate{
	margin: 30px 0 !important;
}
.wp-paginate.font-inherit{
	text-align: center;
}
.wp-paginate.wpp-modern-grey a, .wp-paginate.wpp-modern-grey .current{
	padding: 10px 12px !important;
}
.wp-block-embed, .wp-block-image{
	margin: 16px 0 !important;
}
.owl-carousel .owl-stage{
	margin: 0 auto !important;
}
#ez-toc-container{
    width: 100%;
	box-sizing: border-box;
	margin-top: 20px;
}
.aligncenter {
	img{
		border: 1px solid #bcbcbc;
		padding: 10px;
		box-sizing: border-box;
		margin: 16px 0 0 0;
	}
	figcaption{
		text-align: center;
		font-style: italic;
	}
}