.enjoy-the-difference {
  &__title {
    margin-top: 244px;
  }

  &__slider {
    margin-top: 44px;
    @include breakpoint-up(lg) {
      margin-top: 108px;
    }
    .owl-dots {
      padding-top: 20px;
      @include breakpoint-up(lg) {
        padding-top: 114px;
      }
    }
  }

  &__item {
    &__img {
    }
  }
}
